@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" 
        style="position:absolute;
               left: 50%;
               top: 50%;
               transform:
                   translateX(-50%)
                   translateY(-50%);
               text-align: center">
    Welcome to my MoneyMamager</h1>
</div>
